.blogin{
        color:white;
        background: #fc0176;
        border: 0px;
}

.bform{
    color:white;
    background:#638cb5;
    border:0px;
    width:200px;
    height:19px;
   }

.f2{
    width: 200px;
}